.no-bullets {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/padding#formal_definition */
  padding: unset;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/margin#formal_definition */
  margin: unset;
  /* https://www.w3schools.com/howto/howto_css_list_without_bullets.asp */
  list-style-type: none;
}

/* https://christianheilmann.com/2020/11/26/back-to-basics-creating-a-clickable-card-interface-in-plain-html-css-and-javascript/ */
/* https://codepo8.github.io/full-card-click/2-clickable-card.html */
/* https://youtu.be/T-71Yaz7B1I */
/* https://glitch.com/glitch-in-bio */
.fullclick > li {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/margin-block */
  /* UPDATE */
  margin-block: var(--size-5);

  /* "Reset" open-props. */
  max-inline-size: unset;
  padding: unset;

  border-top-left-radius: var(--radius-conditional-3);
  border-bottom-right-radius: var(--radius-conditional-3);
  border: var(--border-size-3) solid var(--gray-5);

  text-align: center;
}

.fullclick > li > a {
  /* UPDATE */
  min-height: 5.5em;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
