@import "https://unpkg.com/open-props@1.1.1";
@import "https://unpkg.com/open-props@1.1.1/normalize.min.css";

/* Wrapper */
body {
  /* Source: https://open-props.style/ */
  padding-block-start: var(--size-fluid-5);
  display: grid;
  /* grid-template-columns: var(--size-3) 1fr var(--size-3); */
  grid-template-columns: var(--size-5) 1fr var(--size-5);
  justify-items: center;
}
body > * {
  grid-column: 2;
}

main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin: 0 auto; */

  /* https://css-tricks.com/tale-width-max-width/ */
  /* https://open-props.style/#sizes */
  max-inline-size: var(--size-content-3);
  /* max-inline-size: var(--size-fluid-10); */
  /* max-width: var(--size-content-3); */
  width: 100%;
}
