.name {
  font-size: var(--font-size-fluid-3);
  padding-block: var(--size-fluid-3);

  /* https://glitch.com/glitch-in-bio */
  display: inline-flex;
  justify-content: center;

  background: var(--gradient-29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* https://github.com/postcss/postcss-custom-media */
/* https://open-props.style/#media-queries */
@media (prefers-color-scheme: light) {
  .name {
    background-image: var(--gradient-17);
  }
}
