$ const { name, url, color } = input;
<!-- $ console.log(input); -->

li style={ borderLeftColor: color, borderBottomColor: color }
    <!-- https://web.dev/external-anchors-use-rel-noopener/ -->
    a.item href=url target="_blank" rel="noopener"
        <!-- https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#values -->
        kbd.keyboard -- ${name.substring(0, 1)}
        -- ${` ${name.substring(1)}`}
