$ const { name, url } = input;
<!-- $ console.log(input); -->

li style={ padding: "unset" }
    <!-- https://web.dev/external-anchors-use-rel-noopener/ -->
    a.item href=url target="_blank" rel="noopener" -- ${name}
